ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #888;
  padding: 2rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-section input {
  width: 500px;
}

.nav-bar {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
